body {
    display: grid; 
    background-color: burlywood;
    height: 100vh;
    margin: 10;
    padding: 10;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr)    
}
.navbar {
    grid-column: 1/11;
    grid-row: 1/11;
    background-color: cornsilk;
    color:black;
}
.aboutdotted {
    grid-column: 1/11;
    grid-row: 2/11;
    color: black;
    background-color: burlywood;
    font-size: x-large;
}
h1 {
    grid-column: 1/11;
    grid-row: 5/11;
    background-color: burlywood;
    color:black;
}

