body {
    display: grid; 
    background-color: cornsilk;
    height: 100vh;
    margin: 20;
    padding: 20;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr)
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">
    
}
.navbar {
    
    grid-column: 5/11 ;
    grid-row: 1/11;
    background-color: cornsilk;
    color:black;
    font-family: 'Raleway', sans-serif;

    }

h3 {
    grid-column: 3/11;
    grid-row: 2/11;
    background-color: cornsilk;
    color:black;
    font-family: 'Raleway', sans-serif;

    }

.footer {
    grid-column: 5/11;
    grid-row: 11/11;
    background-color: cornsilk;
    color:black;
    font-family: 'Raleway', sans-serif;

    }